---
import BaseHead from "../components/BaseHead.astro";
import LinkedIn from "../icon/LinkedIn.astro";
import X from "../icon/X.astro";
import GitHub from "../icon/GitHub.astro";
import Mail from "../icon/Mail.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <p>Hello! I'm</p>
      <h1>Ian De Guzman</h1>
      <p>
        A proud father of one, an Industrial Engineer who fell in love with
        Software Development
      </p>
      <p>
        Completed my degree in <b>Computer Science</b> while being a full-time Full-Stack
        Software Developer and Mobile Developer (React Native)
      </p>
      <nav>
        <a href="mailto:ianbrdeguzman@gmail.com">
          <span class="sr-only">Send Ian an Email</span>
          <Mail />
        </a>
        <a href="https://www.linkedin.com/in/ianbrdeguzman/" target="_blank">
          <span class="sr-only">Follow Ian on LinkedIn</span>
          <LinkedIn />
        </a>
        <a href="https://x.com/ianbrdeguzman" target="_blank">
          <span class="sr-only">Follow Ian on X</span>
          <X />
        </a>
        <a href="https://github.com/ianbrdeguzman" target="_blank">
          <span class="sr-only">Go to Ian's GitHub repo</span>
          <GitHub />
        </a>
      </nav>
    </main>
    <script>
      console.log("Deployed by github actions");
    </script>
  </body>
</html>
